# EditorConfigのファイル位置はProjectRootなのか
root = true

# 改行スタイル指定（Unix style = lf) 最後に改行を追加するかどうか
[*]
end_of_line = lf
insert_final_newline = false

# 拡張子の指定
[*.{js,ts,jsx,tsx}]
charset = utf-8
indent_style = space
indent_size = 2

# JSONの別途設定
[*.{json}]
indent_style = space
indent_size = 2